.FooterCSS{
    display: block ;
    background-color:white;
    color: grey;
    margin-top: 20rem;
}
  
.FooterCSS p{
    background-color:white;
    font-style: italic;
    text-align: center;
    padding-right: 1rem;
    position: static;
    left: 0%;
    right: 0%;
    min-height: calc(20vh - 30.4px);
    bottom: 0%;
    padding-top: 2.5rem;
    margin-top: auto;
    margin-bottom: 0%;
}
  