*{
  box-sizing: border-box;
  font-family: "FCRoundRegular";
}

html{
  width: 100%;
}

div{
  left: 0px;
  right: 0px;
  top: 0px;
}

body {
  position: relative;
  margin: 0;
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vh;
  display: inline-block;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-indent: 30px;
  width: 100%;
}

.fontFCBold{
  font-family: "FCRoundBold";
}

.fontFCReg{
  font-family: "FCRoundRegular";
}

.container{
  margin : 30px auto;
  width: 1000px;
}

.Horizontal-menu{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  list-style-type: none;
  margin-top: 0%;
  margin-bottom: 20px;
  padding: 10px;
  overflow: hidden;
  background-color: white;
  text-align: center;
}

.Horizontal-menu li{
  text-indent: initial;
  font-size: 15px;
  align-self: baseline;
  vertical-align: middle ;
  display: inline-block;
  white-space: nowrap;
}

.Horizontal-menu a{
  width: max-content;
  align-self: flex-start;
  color: black;
  text-decoration: none;
  padding: 30px;
}

.Horizontal-menu img{
  align-self: flex-start;
}

.special{
  border-left: 2px solid black;
}